@use "../abstract/variables" as *;

.game-board {
  display: grid;
  justify-content: center;
  align-content: start;
  gap: var(--card-gap);
  margin: 0 auto;

  &--small {
    grid-template-columns: repeat(4, var(--card-size));
  }

  &--medium {
    grid-template-columns: repeat(4, var(--card-size));
  }

  &--large {
    grid-template-columns: repeat(4, var(--card-size));
  }

  @media (min-width: $breakpoint-medium) {
    &--medium,
    &--large {
      grid-template-columns: repeat(6, var(--card-size));
    }
  }
}
