.theme-code {
  --theme-background: #2f3230;
  --theme-panel: #2f3230;
  --theme-panel-soft: #435c55;

  --theme-primary: #42dfc4;
  --theme-text: #ffffff;

  --theme-blue: #29aef6;
  --theme-orange: #ff8a3d;

  --theme-hover-background: #405a53;
  --theme-hover-shadow: rgba(232, 239, 69, 0.38);

  --theme-match-border: #4dd5bc;
  --theme-match-shadow: rgba(77, 213, 188, 0.35);

  --theme-result-title: #4dd5bc;
}
